/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/******************* Your code starts here! ********************/
#wrap{
	margin: 2.5% 7.5% 2.5% 7.5%;
	padding-bottom:7.5%;
}

.top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
nav{
	display: flex;
	flex-direction: row;
	color: black;
	text-decoration: none;
	justify-content: space-between;
	width: 64%;
}
.top nav a{
	display: flex;
	color: gray;
    font-size: 10px;
    text-decoration: none;
	
}
nav a:hover{
	color:springgreen;
    transition: color 2s;
}
.logo{
	display: flex;
	justify-content: space-around;
}

/* Container for IOD, Button and codeLogo */
.focus{
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: space-around;
	align-items: center;
	height: 30vh;
}

/* Div for IOD and Button */
#left-focus{
	display: flex;
	flex-direction: column;
	font-size: 55px;
	align-items: center;

}

#index-button{
	display:flex;
	background-color:none;
	font-size: 15px;
	width: 70%;
	justify-content: center;
	
}
/* Div for codeLogo */
#right-focus{
}

.snip{
	width: 70%;
}

#mid-contain{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 40vh;

}

.feat{
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: space-between;
	align-items: center;
}

body p{
	font-size: 13px;
}

#feat-div1{
	display: inline-block;
	margin-right: 2.5%;
}

#feat-div2{

}
.middle-img{
	width: 100%;
	height: 15vh;
}
.services{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	text-align: left;
	align-items: center;
}

#serv-div1{
	display: inline-block;
	margin-right: 1%;
}

#serv-div2{
	display: inline-block;
	margin-right: 1%;
}

#serv-div3{

}

#index-foot{
	display: flex;
	flex-direction: column;
}


footer nav a{
	color: black;
	text-decoration: none;
}

#cr{
	text-align:center;
}

hr{
	width: 100%;
}

/* SERVICES SPECIFIC*/
#wrap2{
	margin: 2.5% 7.5% 2.5% 7.5%;
	padding-bottom:7.5%;
}

.services-header-img{
	height: 15vh;
	max-width: 100%;
	width: 100%;
	margin: 2% 0;
}

#mid-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 5%;
	margin-top: 5%;
}

#mid-wrap div{
	width: 45%;
	border: 1px solid black;
	margin-top: 2%;
	padding: 3%;
}
#mid-wrap p{
	margin-bottom: 2.5%;
}

#mid-wrap button{
	padding: 3%;
	border-radius: 10px;
	background-color:white;
	text-decoration: none;
	border: 1px solid black;
}

.lowest{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}

#div-a{
	display: inline-block;
	width: 50%;
	margin-right: 20%;
}
#div-a p{
	display: inline-block;
	margin-bottom: 2.5%;
}

#div-a ul{
	font-size: 12px;
}

.services-info-img{
	max-width: 100%;
	max-height: 100%;
	height: 20vh;
	width: 40%;
}

.services2{
	margin-bottom: 2.5%;
}

/* TABLET MODE */
@media (max-width: 800px){
    .snip{
        display: none;
    }
    #right-focus{
        display:none;
    }
    .top{
        flex-direction:column-reverse;
        height: 6vh;
    }
    .top nav a{
        font-size: 14px;
    }
    nav {
        width: 100%;
    }
}

/* PHONE MODE */
@media (max-width: 500px){
    .snip{
        display: none;
    }
    #right-focus{
        display:none;
    }
    .top{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    .logo{
        padding: 3%;
    }
    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: black;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
    .top nav a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: gray;
        font-size: 20px;
        text-decoration: none;
        height: 5vh;
        border-top: 0.5px solid grey;
        border-bottom: 0.5px solid grey;
        align-items: center;
        width: 100%;
    }
    .focus{
        display: flex;
        height: 18vh;
        padding-top: 10%;
    }
    
    #left-focus{
        align-content: top;
        font-size: 40px;
    }
    
    #index-button{
        display:flex;
        background-color:none;
        font-size: 1px;
        width: 70%;
        justify-content: center;       
    }

    #mid-contain{
        font-size: 10px;
        flex-direction: column;
        height: 80vh;
        justify-content: space-evenly;
    }
    .feat{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .feat p{
        margin-bottom: 5%;
    }
    .services p{
        margin-bottom: 5%;
    }
    .services{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    hr{
        /* display:none; */
    }
    #feat-div1{
        display:flex;
        flex-direction: column;
    }
    #serv-div1{
        display: flex;
        flex-direction: column;
    }
    
    #serv-div2{
        display: flex;
        flex-direction: column;
    }
    
    #serv-div3{
        display: flex;
        flex-direction: column;   
    }
    #cr{
        padding-top: 5%;

    }
}